@model IEnumerable<RevisaoProjetoNoticias.Domain.DTO.CategoryDTO>

<p>
    <a class="btn btn-primary" asp-action="Create">Add Category</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                    <a class="btn btn-danger" href="#" onclick="deleteCategory(@item.id)">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        const deleteCategory = (idParam) => {
            msgModalMessage(`Deseja realmente excluir o registro ${idParam}?`, () => {
                $.ajax({
                    url: `@Url.Action("Delete")`,
                    method: 'POST',
                    data: {
                        id: idParam
                    },
                    success: (resp) => {
                        if(resp.code == '200') {
                            liveToastMessage(`O Registro ${idParam} foi excluído.`, 'Category');
                            setTimeout(()=>{window.location.reload();},4000);
                        }
                    }
                });
                closeMsgModalMessage();
            });
        }
    </script>
}
