@model IEnumerable<Devs2Blu.ProjetosAula.MVCSQLServerApp2.Web.Models.Entities.Categoria>

    <div class="alert alert-success" id="alertMsg" style="display: none;">
        <h2></h2>
    </div>
<p>
    <a class="btn btn-primary" asp-action="Create">Nova Categoria</a>
</p>

<div id="msgCat" style="display: none;" class="container mb-4">
    <div class="card bg-warning" style="width: 12rem;">
        <div class="card-header">
            <h3 class="text-danger" id="msgHeader">Excluir</h3>
        </div>
        <div class="card-body">
            <h3 class="text-danger">Deseja Realmente excluir o registro: <span id="msgBody"></span> </h3>
            <br />
            <button class="btn btn-danger" id="btnExcluir">Excluir</button>
            <button class="btn btn-primary" id="btnCancelar">Cancelar</button>
        </div>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a class="btn btn-danger" href="#" onclick="deleteCategoria(@item.Id, '@item.Nome')">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scritps {
    <script>

        $(document).ready(() => {
                //Do Edit Model
            
                
            // Cancelar exclusao
            $('#btnCancelar').click(()=>{
                $('#msgCat').hide();
                $('#msgBody').html("");
                $('#btnExcluir').unbind();
            });
        });

        const deleteCategoria = (id, nome) => {
            $('#msgBody').html(`${id} - ${nome}`);
            $('#btnExcluir').click(() => executeDeleteCategoria(id));
            $('#msgCat').show();
        }

        const executeDeleteCategoria = (id) => {
            $('#msgCat').hide();

            $.ajax({
                url: `@Url.Action("Delete")/${id}`,
                method: 'GET',
                success: (response) => {
                    if(response === 'OK') {
                        $('#alertMsg').html('Registro Apagado com Sucesso!');
                        $('#alertMsg').show();

                        setTimeout(() => {
                            $('#alertMsg').fadeOut();
                            $('#alertMsg').html('');
                        }, 2000);
                    }
                }
            });
        }
    </script>
}
